.adminToolbar{
    height: 32px;
    background: #383838;
    box-shadow: none;
    border-bottom: none;
    font-size: 14px;
    line-height: 14px;
    color: #737373;
    position: relative;
    z-index: 20;

    .adminToolbar-wrap{
        height: 100%;

        .adminToolbar-row, .adminToolbar-item {
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0;
        }

        .adminToolbar-item {
            .adminToolbar-link{
                color: #f7f7f7;
                transition: color .3s;

                &:hover{
                    color: #ffd333;
                }
            }
        }
    }
}