.header {
  height: 6.4rem;
  background: #ffd333;
  box-shadow: 0 1px rgba(0, 0, 0, 0.04), inset 0 -1px rgba(0, 0, 0, 0.04);
  color: #3d464d;

  .wrap {
    height: 100%;

    .nav-row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      height: 100%;

      .nav-logo {
        width: 12rem;

        img {
          display: block;
          width: 100%;
          margin: 0;
        }
      }

      .nav-links {
        margin-left: 14px;
        margin-right: 14px;
      }

      .nav-indicators {
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        margin-left: auto;
      }

      .indicator {
        display: flex;
        color: none;

        .indicator-button {
          display: flex;
          align-items: center;
          border: none;
          background: transparent;
          cursor: pointer;
          padding: 0;
          color: inherit;
          fill: currentColor;

          .indicator-area {
            background: transparent;
            transition: background-color 0.2s;
            border-radius: 2px;
            height: 42px;
            padding: 0 14px;
            display: flex;
            align-items: center;
            &:hover {
              background: hsla(0, 0%, 100%, 0.5);
              transition-duration: 0.1s;
              box-shadow: none;
            }

            .indicator-value {
              margin-left: -5px;
              margin-right: -8px;
              height: 15px;
              font-size: 10px;
              padding: 0 5px;
              border-radius: 1000px;
              position: relative;
              top: -11px;
              background: #fff;
              color: #3d464d;
              font-weight: 700;
            }
          }
        }
      }

      .nav-indicators,
      .nav-links {
        ul,
        li {
          margin: 0;
          padding: 0;
        }

        ul {
          height: inherit;
          z-index: 10;
          display: -ms-flexbox;
          display: flex;
          list-style: none;
        }

        li {
          list-style-type: none;

          a {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 15px;
            line-height: 1;
            letter-spacing: 0.02em;
            font-weight: 700;
            color: inherit;

            span {
              display: flex;
              -ms-flex-align: center;
              align-items: center;
              background: transparent;
              transition: background-color 0.2s;
              padding: 0 14px;
              height: 42px;
              border-radius: 2px;
            }

            span:hover {
              background: hsla(0, 0%, 100%, 0.5);
              box-shadow: none;
              transition-duration: 0.1s;
            }
          }
        }
      }
    }
  }
}
